@font-face
{ font-family: 'yeseva' ;
    src: url("../font/Yeseva.ttf") format("opentype");
}
@font-face
{font-family: "montserrat";
    src: url("../font/Montserrat.ttf") format("opentype");
}


header
{
    border-bottom:1px solid grey;
    padding: 0.5em ;
    display: flex;
    padding-top: 0%;
}


h3
{
  text-align: center;
  color: white;
  font-size: 1.5em;
  width: 30%;
}

span {
    color: #1bd79e;
  }

  header nav
{
  text-align: right;
  width:100%
}
header i {
  margin: 1em 0.5em;
  text-align: right;
  color: #e5e5e5;
}

  main
{
  margin:auto;
  padding-top: 0.5em ;
  width: 80%;
  padding-bottom: 2em;
}

  h1
{
font-family:"yeseva";
color: #e5e5e5;
font-size: 3em;
width:80%
}

body
{background-color: #041821;}

p
{
  color:#808080;
  font-family:"montserrat"
}

main p 
{
  width: 65%;
  font-size: 0.9em;
}

nav
{
  text-align: center;
}

main nav
{
  display:flex;
  margin-bottom: 2em;
  justify-content:center
}

button
{
  color: white;
  background-color: #041821;
  justify-content:center;
  border: none;
  padding: 0.5em;
  font-size:0.6em;
  margin:0.6em;
  letter-spacing: 0.25em;
  

}
nav button:nth-child(2) {
  background-color:#1bd79e;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
}

.grid img {
  width: 100%;
  object-fit: cover;
}

footer
  {
    text-align:center;
    color: #e5e5e5;
    margin-bottom: 1em;
}

p.s{
  font-size: 0.75em;
}

p.Exercice
{
  font-size: 0.625em;
}

@media only screen and (max-width:425px) and (min-width:320px)
{
  header
{
  padding:2em;
    display: inherit;
    width: auto;
    padding: 10%;
    margin-top: 0em;
    margin-bottom: 0em;

}
  h3
  {
   width:auto;
   text-align: center;
  }

  header i {
    margin: 0.5em;
    padding:0.2em;
    text-align: center;
    margin-bottom: 0em;
  }
  header nav {
    text-align: center;
  }

  main
  {
    width: 100%;
  }
  h1
  {
    font-size:2em;
    width:100%
  }

  main p 
{
width:auto;
font-size: 0.5em;
}

  button
  {
  font-size:0.55em;
  padding: 0%;
}
.grid
{
  grid-template-columns: repeat(3, 1fr);
}
.grid img:nth-child(n + 10) {
  display: none;
}
}
@media screen and (max-width:768px) and (min-width:768px)

{
  header {
    display: flex;
    align-items: center;
    padding: 1em;
  }

  main {
    width: 80%;
    margin: auto;
  }

  main h1 {
    font-size: 2em;
    width:95%
  }

  main nav {
    justify-content: center;
    
  }

  button {
    font-size: 0.75em;
    margin:0.5em
  }

  .grid {
    grid-template-columns: repeat(5, 1fr);
  }


  main p {
    width: 75%;
  }
  h3
  {
    width:35%
  }
}


