@font-face
{ font-family: 'yeseva' ;
    src: url("../font/Yeseva.ttf") format("opentype");
}
@font-face
{font-family: "montserrat";
    src: url("../font/Montserrat.ttf") format("opentype");
}

h1
{
font-family:"yeseva";
color: white;
}

body
{background-color: black;}

p
{color:white;
font-family: "montserrat";}